# DIRECTORIES
/OsuCollectionsEditor/VS_Output/*
/Editor/VS_Output/*
/OsuDbApi/VS_Output/*
/OsuDbApi-TEST/VS_Output/*
/.vs/*
# FILES
# Исключен по причине хранения моих путей к нужным файлам osu
/OsuDbApi-TEST/osu!.txt
*Thumbs.db
*.user